/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Color scheme used
Text Colour: #242424
Primary Colour (goldish): #a87a08
Secondary Colour (whiteish): #fffaf3
Accent Colour (pinkish): #ff9e9e
Link Colour: #5757ff
*/
@font-face {
    font-family: 'glacial_indifferenceregular'; 
    src: url('glacialindifference-regular-webfont.woff2') format('woff2'),
         url('glacialindifference-regular-webfont.woff') format('woff'), local("Default Fonts");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #fffaf3;
    font-family: 'glacial_indifferenceregular';
    color: #242424;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}
h2 {
    font-size: 24px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}
a {
    color: #5757ff;
}

a:visited {
    color: #242424;
}
a:hover {
    text-decoration: none;
    outline: 2px solid #242424;
}
a:focus {
    text-decoration: none;
    outline: 2px solid #242424;
}
a:active {
    color: #fffaf3;
}
a.social-media {
    text-decoration: none;
}
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #a87a08;
    color: #fffaf3;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #a87a08;
    color: #fffaf3;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}
.button_secondary {
    background-color: #ff9e9e;
    color: #fffaf3;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #a87a08;
}
.profile {
    max-width: 700px;
    min-height: 750px;
    margin: 200px auto 100px;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.contact-section {
    text-align: center;
    max-width: 700px;
    min-height: 750px;
    margin: 200px auto 100px;
}
.submit-button {
    margin: 25px 25px;
}
.work-section {
    min-height: 1000px;
    text-align: center;
}
.grid__item {
    display: inline-block;
    width: 30%;
}
@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        color: #fffaf3;
        margin: 20px;
    }
}
.grid__item {
    background-color: #a87a08;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
}
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
@-webkit-keyframes plane-move {
    from {
        -webkit-transform: translate(-2872.4441px, 14.605647px);
                transform: translate(-2872.4441px, 14.605647px);
    }
    to {
        -webkit-transform: translate(350px, 14.605647px);
                transform: translate(350px, 14.605647px);
    }
}
@keyframes plane-move {
    from {
        -webkit-transform: translate(-2872.4441px, 14.605647px);
                transform: translate(-2872.4441px, 14.605647px);
    }
    to {
        -webkit-transform: translate(350px, 14.605647px);
                transform: translate(350px, 14.605647px);
    }
}
.plane {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-name: plane-move;
            animation-name: plane-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
            animation-direction:normal;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
.about-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 1200px;
    padding: 20px;
}
.about-me {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
.skills {
    display: flex;
    margin-left: 75px;
}
.skills-items {
    list-style-type: disc;
    justify-content: center;
    padding-left: 20px;
    margin: 0;
}
.skills-items > li {
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 25px;
}